# for entire flow (deploy to grantall)
DEPLOYER_PRIVATE_KEY=xxx
SIGNER_ONE_PRIVATE_KEY=xxx
SIGNER_TWO_PRIVATE_KEY=xxx
SIGNER_THREE_PRIVATE_KEY=xxx
PERMISSION_ADDRESS=0x... # this will get the permission to do the initiate,refund and redeem

# just for deploy (only need deployer private key + signer addresses)
DEPLOYER_PRIVATE_KEY=0x...
SIGNER_ONE_ADDRESS=0x...
SIGNER_TWO_ADDRESS=0x...
SIGNER_THREE_ADDRESS=0x...
